.heading{
  text-align:center;
}

.header{
  background: rgb(10, 18, 97);
  color: rgb(196, 195, 205);
  padding: 15px;
}

.menu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li{
  padding: 8px;
  margin-bottom: 7px;
  background-color: rgb(59, 129, 148);
  color: rgb(196, 195, 205);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px rgba(0,0,0,0.24);
}

.menu li:hover{
  background-color:  rgb(10, 18, 97);
}

.jumbotron{
  background: rgb(10, 18, 97);
  padding: 20px 20px 20px 20px;
  color: white;
}

.row-content{
  background: white;
  padding: 10px 5px 10px 5px;
  margin: 0px auto;
  border-bottom: 2px ridge;
}

.container-content{
  background: rgb(10, 18, 97);
  color: white;
}

.navbar-inverse{
  background: rgb(10, 18, 97);
  color: white;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus{
  background: rgb(68, 76, 150);
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus{
  background: rgb(60, 66, 186);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus{
  background: rgb(74, 75, 181);
}

.dropdown-menu > .open > a,
.dropdown-menu > .open > a:hover,
.dropdown-menu > .open > a:focus{
  background: rgb(177, 100, 19);
}

.row-footer{
  background: rgb(68, 76, 150);
  padding: 20px 0px 20px 0px;
  margin: 0px auto;
}
